@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.socialMedia{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}
.sci{
   position: relative;
   display: flex;
}
.sci li{
   list-style: none;
}
.sci li::before{
   content: attr(data-text);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,calc(-50% + 160px));
   -webkit-transform: translate(-50%,calc(-50% + 160px));
   -moz-transform: translate(-50%,calc(-50% + 160px));
   -ms-transform: translate(-50%,calc(-50% + 160px));
   -o-transform: translate(-50%,calc(-50% + 160px));
   font-size: 14vw;
   pointer-events: none;
   font-weight: 700;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   opacity: 0;
}
.sci li:hover::before{
   opacity: 0.1;
   transform: translate(-50%,calc(-50% + 160px));
   -webkit-transform: translate(-50%,calc(-50% + 160px));
   -moz-transform: translate(-50%,calc(-50% + 160px));
   -ms-transform: translate(-50%,calc(-50% + 160px));
   -o-transform: translate(-50%,calc(-50% + 160px));
}
.sci li a{
   position: relative;
   display: inline-block;
   width: 120px;
   height: 120px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   text-decoration: none;
   margin: 20px;
   font-size: 4em;
   transform-style: preserve-3d;
   perspective: 500px;
   box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
   transition: background 0.25s;
   -webkit-transition: background 0.25s;
   -moz-transition: background 0.25s;
   -ms-transition: background 0.25s;
   -o-transition: background 0.25s;
}
.js-tilt-glare{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.sci li a:hover.facebook{
   background: #145cf8;
}
.sci li a:hover.whatsapp{
   background: #10c963;
}
.sci li a:hover.youtube{
   background: #fd0505;
}
.sci li a:hover.twitter{
   background: #4488e2f6;
}
.sci li a:hover.instagram{
   background: #b80c5c;
}
.sci li a:hover.github{
   background: #3a3838;
}
.sci li a:hover.snapchat{
   background: #f1f506;
}
.sci li a:hover.reddit{
   background: #f57206;
}
.sci li a .fa{
   transition: 0.25s;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -ms-transition: 0.25s;
   -o-transition: 0.25s;
   pointer-events: none;
}
.sci li a:hover .fa{
   color: #fff;
   transform: scale(1.65) translateZ(50px);
   -webkit-transform: scale(1.65) translateZ(50px);
   -moz-transform: scale(1.65) translateZ(50px);
   -ms-transform: scale(1.65) translateZ(50px);
   -o-transform: scale(1.65) translateZ(50px);
}