@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}
.container{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1200px;
   flex-direction: column;
   margin: 20px auto;
   padding: 0 20px;
}
.container .buttons{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 20px;
}